<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">Bem-vindo ao Painel de Controle</h1>
        <p class="lead">Aqui você pode gerenciar as categorias e postagens</p>
        <hr class="my-4">
        <p class="lead">Página de categorias</p>
        <a class="btn btn-primary btn-lg" href="/admin/categorias" role="button">Categorias</a><br>
        <hr class="my-4">
        <p class="lead">Página de postagem</p>
        <a class="btn btn-primary btn-lg" href="/admin/postagens" role="button">Posts</a><br>
        <hr class="my-4">
        <p class="lead">Criar conta de administrador</p>
        <a class="btn btn-primary btn-lg" href="/usuarios/registroADM" role="button">Criar</a>
    </div>
</div>