<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">Bem-vindo ao Painel de Controle</h1>
        <p class="lead">Aqui você pode gerenciar as categorias e postagens</p>
        <a class="btn btn-primary btn-lg" href="/usuarios/registro" role="button">Remova uma conta</a><br><br>
        <a class="btn btn-primary btn-lg" href="/admin/categorias" role="button">Categorias</a><br><br>
        <a class="btn btn-primary btn-lg" href="/admin/postagens" role="button">Posts</a><br><br>
    </div>
</div>

<hr>
