<div>
    <div class="jumbotron ">
        <h1 class="display-4 text-center">Página de categorias!</h1>

        <div class="card-body">

            {{#each categorias}}
            <a href="/categorias/{{slug}}">
                <button class="btn btn-primary btn-lg btn-block mt-4">{{nome}}</button>
            </a>

            {{else}}
            {{/each}}

            {{#if user}}
            {{else}}
            <a class="btn btn-primary mt-4" href="/usuarios/registro" role="button">Crie uma conta</a>
            {{/if}}

        </div>

    </div>
</div>